# VSCode
.vscode/
*.code-workspace

# macOS / Windows
.DS_Store
Thumbs.db
desktop.ini

# Git merge tạm thời
*.orig
*.swp
*.tmp

# NodeJS
node_modules/
npm-debug.log*
yarn-debug.log*

# Dotenv
.env

#file php
src/core/config.php
#keyAPI
src/core/firebase.js